<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light ">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Flats online</span>
        <%= image_tag "bearbnb.png", class:'card-img-top'%>
        <button type="button" class="btn btn-secondary">  <%= link_to "Back to flats list", flats_path, class:'link-text' %></button>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
